@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Elbasan&display=swap");

$primary-color: #ffee34;
$secondary-color: #ff8e0c;
$white-color: #faf9f7;
$grey-color: #4b4b4b;
$black-color: #2b2a2a;

$gradient: rgba(255, 255, 255, 0.437);

$font-family: "Noto Sans Elbasan", sans-serif;
$base-line-height: 1.6;
$font-size-xl: 95px;
$font-size-m: 28px;
$font-size-s: 18px;
