@use "../styles/global.scss";

.container {
  background-color: global.$black-color;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120vh;
  flex-direction: column;
}
.description {
  margin: 10px;
  margin-bottom: 50px;
}
.title {
  color: global.$secondary-color;
  font-size: global.$font-size-xl;
  font-weight: 800;
}
.small_title {
  color: global.$secondary-color;
  font-size: global.$font-size-m;
}
.text {
  color: global.$white-color;
  font-size: global.$font-size-s;
  overflow-wrap: break-word;
  text-align: justify;
}
.component {
  width: 80%;
  height: 90vh;
  position: relative;
}

.loader {
  color: global.$secondary-color;
  font-size: global.$font-size-m;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
